.component-container {
  position: relative;

  width: 100%;
  height: 100%;

  /* padding-left: .5rem;
  padding-right: .5rem; */
  gap: 0rem;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  
  background-color: #ffffffa1;
  border-top: #ababa7d6 solid 1px;
  border-bottom: #ababa7d6 solid 1px;
  
}



.year-line {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: rgba(30, 30, 30, 0.8);
  transform: translateX(-50%);
  z-index: 2000;
  /* pointer-events: none; */
  cursor:col-resize;
}



.milestone-markers.bottom {
  position: relative;
  height: 1px;
}

.milestone {
  position: absolute;

  height: 100%; 

  border-left: #ebbe09 solid 6px;
  color: #d2d7de00;

  cursor: pointer;
}

.milestone:hover {
  color: #d2d7de;
  font-weight: bold;
}



.timeline-row {
  position: relative;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  background-color: rgba(232, 230, 230, 0.379);

  
}

.timeline-main {
  width: 95%;
  height: 100%;

  padding-top: 0.2rem;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  
  border-bottom: #4343415f solid 1px;
  box-shadow: 0 3px 5px rgba(93, 93, 93, 0.538);
  
}

.slider-wrapper {
  position: relative;

  width: 100%;
  height:100%;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;

  background-color: rgba(41, 158, 190, 0);

  z-index: 3000;
}




.timeline-main input[type="range"] {
  width: 100%;
  height:0.1dvh;

  margin-left: -0.25dvw;
  margin-right: -0.25dvw;


  background: transparent;
  border-radius: 0px;
  /* border: 1px solid rgba(198, 156, 198, 0.549); */
  
  appearance: none;
  cursor:col-resize;

  
}

.slider-wrapper input[type="range"]::-webkit-slider-thumb {
  
  /* bottom: 1vh; */
  
  width: 0.75dvw;
  height: 1.5dvh;
  

  background-color: #e32222ea;
  box-shadow: 0 3px 5px rgba(93, 93, 93, 0.538);
  border-radius: 0px;
  border: 1px solid rgba(222, 218, 218, 0.346);

  appearance: none;
  /* transform: translateX(50%); */
  transition: transform 0.2s ease;
}

.slider-wrapper input[type="range"]::-webkit-slider-thumb:hover {
  transform: scaleY(1.2);
  
}

.timeline-main-info{
  width: 100%;
  height: 100%;

  padding: 0rem;

  box-sizing: border-box;

  font-size: 1dvb;
  color: #999;
}

.year-labels {

  width: 100%;

  display: flex;
  box-sizing: border-box;

  background-color: #4b4b4b;
  border-bottom: #ababa7d6 solid 1px;
  
  font-size: 1dvb;
  color: #e6e5e5;

  box-shadow: 0 3px 5px rgba(93, 93, 93, 0.538);

  cursor: grab;

  z-index: 3000;
}

.year-label {
  white-space: nowrap;
  user-select:none;
}

.year-label.active {
  color: #d1be15;
  font-weight: bold;
}


.hist-bar-container{
  width: 95%;
  height: 100%;

  padding: 0.3rem;

  box-sizing: border-box;

  background-color: rgb(55, 55, 55);
  font-family: 'Inter', sans-serif;

  z-index: 500;
}

.histogram {
  position: relative;

  width: 100%;
  height: 2vh;  

  display: block;

  background: linear-gradient(to top, rgba(0,0,0,0.04), rgba(0,0,0,0.0));
  background-color: #c1c0c000;
  border-radius: 0px;
  overflow: hidden;
}

.hist-bar {
  position: absolute;
  bottom: 0;
  
  background: currentColor; 

  opacity: 0.15;
  transition: opacity 120ms ease, transform 120ms ease;
  
  border: currentColor;
  border-left: 2px solid currentColor;
  border-top: 2px solid currentColor;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  transform: translateX(-50%);

  cursor: pointer;
  
}

.hist-bar.active {
  opacity: 0.7;
}

.hist-bar.disabled {
  opacity: 0.3;
}

.hist-bar:hover {
  opacity: 1;
  transform: translateY(-1px);
  transform: translateX(-50%);
}



.timeline-side {

  width: 5%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  padding-left: 0.2rem;
  padding-top: 0.2rem;
  box-sizing: border-box;

  /* padding: 0.15dvw; */
  
}

.label-button {
  width: 100%;
  height: 100%;
  flex:1;
  
  font-size: 1dvb;
  font-weight: bold;
  color: #e6e5e5;
  padding: 0.15dvw; 
  opacity: 0.45;
  background-color: currentColor;

}

.label-button.active {
  opacity: 0.9;
}



.legend {
  
  width: 100%;
  height: auto;
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0%;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0);
  
  font-size:  1dvb;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 0.1dvb;
}

.legend-color {
  width: 10px;
  height: 10px;
  border-radius: 2px;
}

.legend-label {
  font-weight: bold;
  text-transform: capitalize;
}