# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
ENV/
env/

# Local databases and backups
# *.db
#*.sqlite3


# Environment config
# .env
# .env.*

# Editor/OS files
.DS_Store
.vscode/
.idea/
*.log


