/* === Column === */
.dashboard-container{
  position: relative;

  width:100%;
  height: 70%;

  padding: 0.3rem;

  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-self: flex-start;
  
  
  background-color: #393940d7;
  box-shadow: 0 5px 5px rgba(64, 64, 64, 0.434);

  z-index: 11;
}

.dashboard-charts {
  
  width: 40%;
  height: 100%;

  gap: 0.5rem;

  display: flex;
  flex-direction: row;
  
}

/* === Box Styling (shared) === */
.stats-box,
.chart-box,
.chart-box-title {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.5;
  letter-spacing: 0.01rem;
  color: #ebebeb;
}

/* === Stats Box === */
.stats-box {
  position: relative;
  height: 8vh;
  padding: 0rem;
  box-sizing: border-box;
  background-color: transparent;
  /* border-bottom: 1px solid #74747498; */
  box-shadow: 0 0 2px transparent;
  align-content: center;
  z-index: 11;
}

/* === Stats Box === */


/* === Chart Box === */
.chart-box {

  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-content: center;
  
  background-color: transparent;

  font-size: 0.2rem;
  color: #ebebeb;
  
  z-index: 11;
  
}

/* === Chart Title === */
.chart-box-title {
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  z-index: 100;
  font-size: 1.3rem;
}

/* === Divider === */
.divider {
  width: 100%;
  height: 3px;
  margin: 1rem 0;
  padding: 0;
  border: none;
  background-color: #403f3f;
  opacity: 0.5;
}
