.description-container {
  position: relative;

  width:100vw;
  height: 30%;

  padding: 0rem;
  
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content:center;
  justify-items: center;
  

  background-color: rgb(59, 165, 135);
  border: none;

  z-index: 1;
  
}

.filter-description{
    color: black;
    font-size: 1rem;
    padding: 1rem;
    background-color: #ffffffdf;
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    width: 100%;
    box-sizing: border-box;
    /* display: flex;
    flex-direction: column; */
    /* justify-content: center;
    align-items: center; */
}


.filter-tags-container {
  
  display: flex;
  flex-wrap: wrap;
  gap: 0.1rem;
  padding: 0.5rem 1rem;
}

.filter-tag {
  background-color: #3dc5aa00;
  border-radius: 0px;
  padding: 0.1rem 0.1rem;
  font-size: 1rem;
  display: flex;
  align-items: right;
  color: rgb(65, 65, 65);
  font-weight: bold;
}

.remove-btn {

  height: 1rem;
  width: 1rem;

  padding: 0rem 0.1rem 0.1rem 0.1rem;

  margin-left: -0.5rem; 
  margin-top: -0.5rem; 

  background-color:  tomato;
  border: none;
  border-radius: 0px;
  
  cursor: pointer;
  
  color: white;
  font-weight: bold;
  font-size: 1rem;
  
}