
.detail-box {
  /* position: absolute; */
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #333333;

  z-index: 1000;
  display: flex;
  flex-direction: row;
}


.detail-content {
  
  padding: 1rem;
  width: 100%;
  height: 100vh;
  color: white;
  overflow-y: auto;
  display: flex;
  box-sizing: border-box;
}

/* Kulakçık (tab) */  
.detail-tab {
  position: absolute;
  top: 55%;
  right: -1.5vw;
  transform: translateY(-50%);
  width: 1.5vw;
  height: 7vh;
  background-color: #333333;
  color: white;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  user-select: none;
}



.year-box{
  position: absolute;
  bottom: 19vh;
  right: -10vw;
  height: 5vh;
  width: 10vw; 
  transform: translateY(-50%);

  background-color: rgba(48, 48, 48, 0.801);
  color: white;
  font-size: 4rem;
  padding: 3rem;
  box-sizing: border-box;
  display: flex;
  
  align-items: center;
  justify-content: center; 
  gap: 1rem;
  z-index: 500;


  text-align: center;

  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  user-select: none;

}
