

.filter_list_panel {
  /* position: absolute; */
  width: 100%;
  padding: 0rem;
  gap: 0.5rem;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: top;  

  background-color: rgba(222, 222, 222, 0.781);
  border:#2c2b2b solid 1px;
  
  font-size: 0.8rem;
  font-family: 'Inter', sans-serif;
  color: #0f0f0f9a;

  z-index: 1;
}

.search-bar {

  width: 100%;

  padding: 1rem 0.5rem;

  box-sizing: border-box;

  background-color: #ffffff00;
  border: 0px solid #2c2b2b;
  border-bottom: 1px solid #c1c1c1;
  border-radius: 0px;
  
  font-size: 0.8rem;
  color: #0f0f0f9a;
  
}
.search-bar:focus {
  outline: none;
}
.search-bar:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}

.search-results {

  width: 100%;

  padding: 0rem;

  background-color: #c1171700;
  border-radius: 6px;
  
  overflow-y: auto;
  max-height: 50vh;
  
  
}

.search-results h4 {
  margin-bottom: 0rem;
  margin-top: 0rem;
  /* font-size: 0.95rem; */
}

.search-results ul {
  list-style: none;
  padding-left: 0.5rem;
  margin: 0;
}

.search-results li {
  padding: 0.25rem 0;
  cursor: pointer;
}

.search-results li:hover {
  background-color: #f0f0f0;
}

.category-list {
 
  width: 100%;
  
  padding: 0rem;
  background: #b81212d9;
  box-sizing: border-box;
  overflow: auto;
  max-height: 50vh;

}
.category-list ul {
  list-style: none;
  padding: 0;
  margin: 0 0 0 0;
  width: 100%;
  background: #ffffff;
  border: 0px solid #ccc;
  border-radius: 0px;
}

.category-list li {
  padding: 0.5rem 0.6rem;
  cursor: pointer;
  border-bottom: 1px solid #e0e0e0;
}

.category-list li:last-child {
  border-bottom: none;
}

.category-list li:hover {
  background-color: #efefef;
}

.category-list li.selected {
  background-color: #dcdcdc;
  font-weight: bold;
}