.layer-selector {
  position: absolute;
  bottom: 18vh;
  right: 4vw;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 1rem 0;
  font-family: Arial, sans-serif;
  z-index: 2000;
}



.layer-selector label {
  display: flex;
  box-sizing: border-box;
  width: max-content;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  font-size: 0.95rem;
  color: #333;
}

.layer-selector input[type="radio"] {
  accent-color: #4e79a7;
  transform: scale(1.2);
  cursor: pointer;
}

.layer-selector label:hover {
  color: #4e79a7;
}

.layer-selector input[type="radio"]:checked + span {
  font-weight: bold;
}

.layer-toggles label,
.layer-selector > label {
  display: flex;
  align-items: center;
  gap: 8px;
  user-select: none;
}

.radio-group,
.checkbox-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 5px;
}

.divider {
  border: none;
  border-left: 1px solid #ccc;
  margin: 4px 0;
}