.layer-selector {
  position: absolute;

  bottom: 19vh;
  right: 0;

  width: 7vw;
  height: 3vh;

  padding: 0rem;
  gap: 0.3rem;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: left;
  align-items: left;

  background-color: #4d4d4d51;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.261);
  border: 1px solid #c1c1c1;  
  

  z-index: 3500;
}



.layer-selector label {

  width:max-content;
  padding: 0.1rem;

  display: flex;
  box-sizing: border-box;
  align-items: center;
  
  background-color: #ffffffd3;
  font-size: 0.6rem;
  color: #333;

  cursor: pointer;
}

.layer-selector input[type="radio"] {
  accent-color: #4e79a7;
  
  cursor: pointer;
}

.layer-selector label:hover {
  color: #4e79a7;
}

.layer-selector input[type="radio"]:checked + span {
  font-weight: bold;
}

.layer-toggles label,
.layer-selector > label {
  gap: 0.1rem;
  display: flex;
  align-items: center;
  
  user-select: none;
}

.radio-group,
.checkbox-group {
  gap: 0rem;
  display: flex;
  flex-direction: row;
  /* flex: 1; */

  background-color: #ffffffd3;

  font-family: Arial, sans-serif;
  
}

.divider {
  height: 1px;
  border-left: 1px solid #303030;
  margin: 4px 0;
}

