.military_event_detail_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: 50%; */
  
  box-sizing: border-box;
  z-index: 150;
}

.military_event_details_box {
    position: absolute;
    
    margin-left: 1rem;
    margin-top: 0.5rem;
    height: 24%;
    box-sizing: border-box;
}

.military_event_tree_box {
    /* height: 100%; */
    overflow-y: auto;
    margin-left: 1rem;
    margin-top: 0.5rem;
    box-sizing: border-box;
    /* background-color:azure; */
}