.militaryevent-details-container {

  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 1rem;
  font-family: 'Inter', sans-serif;
  color: #ffffff00;
  background-color: rgba(48, 49, 48, 0);;
  /* border-top: 1px solid #444; */
  box-sizing: border-box;
}

.militaryevent-details-container img.portrait {
  box-sizing: border-box;
  width: 100%;
  height: auto; 
  border-radius: 8px;
  margin-bottom: 1rem;
  display: block;
  background-color: #ffffffa4;

}

.militaryevent-details {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  font-family: 'Inter', sans-serif;
  color: #494747;
  background-color: rgba(48, 49, 48, 0);
  gap: 1rem;
  /* border-top: 1px solid #444; */
  box-sizing: border-box;
}

.tab-buttons {
  width: 100%;
  box-sizing: border-box;
  background-color: #6d6d6d;
}

.tab-buttons button {
  margin-right: 0rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 1px;
  background-color: transparent;
  
  cursor: pointer;
}

.tab-buttons button.active {
  background-color: rgba(182, 72, 72, 0.869);;
  color: white;
  border-bottom: 1px solid #ccc;
  /* border-color: #222; */
}

.militaryevent-details p {
  font-size: 1rem;
}

.militaryevent-details h4 {
 
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  color: #ccc;
  border-bottom: 1px solid #444;
  padding-bottom: 0.3rem;
}

.militaryevent-details h4 strong {
  color: #5e6060;
}

.militaryevent-details ul {
  list-style: none;
  padding-left: 0;
}

.militaryevent-details li {
  margin-bottom: 0.4rem;
  font-size: 0.9rem;
}

.militaryevent-details li strong {
  color: #89dceb;
  margin-right: 0.4rem;
}
.militaryevent-details li bp {
  color: #27AE60;
  font-size: 0.8rem;
  margin-right: 0.4rem;
}
.militaryevent-details li dp {
  color: #C0392B;
  font-size: 0.8rem;
  margin-right: 0.4rem;
}
.militaryevent-details li ea {
  color: #9B59B6;
  font-size: 0.8rem;
  margin-right: 0.4rem;
}
.militaryevent-details li re {
  color: #3498DB;
  font-size: 0.8rem;
  margin-right: 0.4rem;
}
.militaryevent-details li wl {
  color: #F39C12;
  font-size:0.8rem;
  margin-right: 0.4rem;
}

