.nav-bar {
  width: 100%;

  padding: 0rem;
  gap: 0.5rem;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: right;
  justify-content: space-between;
  
  background-color: transparent;
}

.nav-category{

  gap: 0.1rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  background-color: transparent;
  
}




.nav-button {
  position: relative;
  
  right: 0;
  width: 100%;
  height: 100%;

  padding: 0.5rem ;

  background-color: #ffffff;
  border-bottom: #4e4d4d 1px solid;;
  border-left: #dc420a 10px solid;
  border-right: #4e4d4d 4px solid;
  border-radius: 0px;

  font-size: 0.8rem;
  font-family: 'Inter', sans-serif;
  text-align: left;
  color: #5f5f5f;
  
  cursor: pointer;
  
  transition: transform 0.9s ease-in-out;
  transform: translateX(90%);
}

.nav-button:hover {
  transform: translateX(0%);
  /* transform: scale(1.1); */
  font-weight: bold;
  color: #d010109a;
  
}

.nav-button.active {
  transform: translateX(0%);

  background-color: #393938;
  color: #f6f6f6;

  font-weight: bold;
  
  outline: none;
  box-shadow: none;
}

.nav-category-content {
  display: none;

}

.nav-category-content.active {
  position: relative;

  width: 100%;

  padding: 0rem;

  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: top;  
  
  background-color:transparent;

  z-index: 1;
}

.search-btn {
  margin-left: auto;
  font-size: 1rem;
  padding: 0.5rem 1rem;

  border-bottom: #4e4d4d 1px solid;;
}
.search-btn.active {
  font-weight: bold;
}

.nav-button:focus:not(:focus-visible),
.search-bar:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}



/* .nav-left{
  display: flex;
  justify-content: flex-start;
  
  flex-direction: column;
  background-color: #ffffff;
  gap: 0.1rem;
 
}

.nav-right {
  display: flex;
  justify-content: flex-end;
  
  background-color: #ffffff;
  display: flex;
  gap: 0.1rem;
 
} */