.nav-bar {
  display: flex;
  justify-content: space-between;
  
  flex-direction: column;
  align-items: right;
  width: 100%;
  background-color: #ffffff;
  padding: 0rem;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  gap: 0.5rem;
}
.nav-left{
  display: flex;
  justify-content: flex-start;
  
  flex-direction: column;
  background-color: #ffffff;
  gap: 0.1rem;
 
}

.nav-right {
  display: flex;
  justify-content: flex-end;
  
  background-color: #ffffff;
  display: flex;
  gap: 0.1rem;
 
}


.nav-button {
  background-color: #ffffff;
  color: #5f5f5f;
  border: none;

  border-bottom: #4e4d4d 1px solid;;
  border-right: #4e4d4d 4px solid;
  padding: 0.5rem ;
  border-radius: 0px;
  cursor: pointer;
  font-size: 0.8rem;
  font-family: 'Inter', sans-serif;
  text-align: right;
  transition: transform 0.2s ease;
}

.nav-button:hover {
  transform: scale(1.1);
  /* font-weight: bold; */
  color: #d010109a;
  
}

.nav-button.active {
  font-weight: bold;
  
  outline: none;
  box-shadow: none;
}

.search-btn {
  margin-left: auto;
  font-size: 1rem;
  padding: 0.5rem 1rem;

  border-bottom: #4e4d4d 1px solid;;
}
.search-btn.active {
  font-weight: bold;
}

.nav-button:focus:not(:focus-visible),
.search-bar:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}