
.time-container {
  width: 100%;
  height: 100%;
  padding: 0.5rem;;
  background-color: rgb(79, 79, 79);
  box-shadow: 0 0 10px rgba(0,0,0,0);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  z-index: 1000;
}

.time-slider {
  
  width: 95%;
  height: 100%;
  /* padding: 0.5rem; */
  z-index: 1000;
  font-family: 'Helvetica', sans-serif;
  box-sizing: border-box;
  
}

.slider-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  
  
}

.time-slider label {
  color: #f0f0f09a;
  font-size: 1.5rem;
  display: flexbox;
  margin-bottom: 0.5rem;
  justify-content: left;
  background-color: rgb(17, 25, 165);
}

.time-slider input[type="range"] {
  width: 100%;
  height: 6px;
  background: linear-gradient(to right, #2c517007, #46b45c00);
  border-radius: 0px;
  border-bottom: 3px dotted rgba(214, 213, 214, 0.731);
  
  appearance: none;
  cursor: pointer;
  /* margin-bottom: 1rem; */
}

.time-slider input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 10px;
  height: 8vh;
  background: #97a7b400;
  /* border: 2px solid #4682B4; */
  border-right: 3px dotted rgba(222, 218, 218, 1);
  transition: transform 0.2s ease;
}

.time-slider input[type="range"]::-webkit-slider-thumb:hover {
  transform: scale(1.1);
  /* background: #7777779d; */
  /* border: 2px solid #e56220; */
}

.time-slider input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #7d7d7d9c;
  border: 2px solid #676767;
}

.divider {
  width: 100%;
  border: none;
  height: 1px;
  background-color: #47c71900;
  margin: .6rem 0;
  opacity: 0.5;
}

.time-slider-info{
  
  width: 100%;
  height: 100%;
  padding: 0rem;
  
  box-sizing: border-box;
  font-size: 0.8rem;
  color: #999;

}


.year-labels {
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
  /* margin-bottom: 1rem; */
  font-size: 0.8rem;
  color: #e4e4e4;
  z-index: 3000;
  

}

.year-label {
  /* flex: 1; */
  /* transition: all .3s ease-out; */
  /* text-anchor: middle; */
  /* border: 2px solid #d51818; */
  white-space: nowrap;
  user-select:none;
}

.year-label.active {
  color: #d1be15;
  font-weight: bold;
  /* transform: scale(1.1);  */
}

.label-group {
  display: flex;

  width: 5%;
  height: 100%;
  padding: 0.5rem;
  z-index: 1000;
  font-family: 'Helvetica', sans-serif;
  box-sizing: border-box;

  
}



.milestone-wrapper {
  position: relative;
  width: 100%;
}

.milestone-markers.bottom {
  position: relative;
  height: 1px;
}

.milestone {
  position: absolute;
  top: -18px;
  font-size: 12px;
  color: #ff3c3c;
  cursor: pointer;
  transform: translateX(-50%);
}

.checkbox-group {
  display: flex;

  width: 5%;
  height: 100%;
  padding: 0.5rem;
  z-index: 1000;
  font-family: 'Helvetica', sans-serif;
  box-sizing: border-box;

  
}
.checkbox {
  position: relative;
  width: 100%;
  height: 2rem;  
  background-color: #54535330;
  border: #b04f4f;


}

/* Histogram şeridi */
.histogram {
  position: relative;
  width: 100%;
  height: 2rem;  
  /* margin-top: 0.1rem;           */
  /* margin-bottom: 8px; */
  display: block;
  background: linear-gradient(to top, rgba(0,0,0,0.04), rgba(0,0,0,0.0));
  background-color: #c1c0c000;
  border-radius: 0px;
  overflow: hidden;
}

.hist-bar {
  position: absolute;
  bottom: 0;
  /* left & width inline-style ile veriliyor */
  background: currentColor; 
  /* color: #e81010ea;          bar rengi (currentColor) */
  opacity: 0.35;
  transition: opacity 120ms ease, transform 120ms ease;
  cursor: pointer;
  border: currentColor;
  border-left: 2px solid currentColor;
  border-top: 2px solid currentColor;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  
}

.hist-bar.active {
  opacity: 0.7;
}

.hist-bar:hover {
  opacity: 1;
  transform: translateY(-1px);
}

/* Milestone üçgenleri (varsa) eskisi gibi kalabilir */
.milestone-markers.bottom {
  position: absolute;
  bottom: -14px;           /* histogramla çakışmasın diye ayarla */
  left: 0;
  right: 0;
  height: 12px;
}

.milestone {
  position: absolute;
  transform: translateX(-50%);
  font-size: 10px;
  line-height: 1;
  cursor: pointer;
  user-select: none;
}
