

.timeline-strip-container {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  
  
  width: 100%;
  /* height: 100%; */
  /* background-color: #5773e16c; */
  /* padding: 0.5rem; */
  transition: height 0.2s ease-in-out;
  padding: 0rem 2.9rem; 
}



.timeline-strip {
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content:center; */
  align-items:flex-start;
  gap: 1rem;
  height: 100%;
  width: 100%;
  background-color: #e157a700;
  overflow-x: hidden; 
  scroll-behavior: smooth;
  box-sizing: border-box;
  /* padding: 1rem 0rem;  */
  /* max-height: 30vh; */

  cursor: grab;
  user-select: none;
}


.timeline-strip:active {
  cursor: grabbing;
}

.scroll-button {
  position: absolute;
  top: 1rem;
  /* transform: translateY(-50%); */
  background: rgba(182, 72, 72, 0.653);
  border-radius: 2px;
 
  box-sizing: border-box;
  cursor: pointer;
  width: 2rem;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.scroll-button.left {
  left: 0.2rem;
  
}

.scroll-button.right {
  right: 0.2rem;
}


.person-name {
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.2rem ;
  color: #313131; 
}


.timeline-item {
  min-width: 3vw;
  max-width: 7vw;
  flex-shrink: 0;
  color: white;
  padding: 1rem 0rem; 
}

.timeline-item-img {
  width: 100%;
  border-radius: 6px;
}

.timeline-item-title {
  font-size: 0.8em;
  color: #818181;
  text-decoration: none;
}

.timeline-item-meta {
  font-size: 0.7em;
  color: #7e7d7d;
}

.no-works {
  color: #aaa;
  padding: 1rem;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
}

.modal-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

.modal-close {
  position: absolute;
  top: -10px;
  right: -10px;
  background: rgba(182, 72, 72, 0.869);
  border: none;
  border-radius: 50%;
  padding: 0.3rem 0.6rem;
  font-size: 1.8rem;
  cursor: pointer;
  box-shadow: 0 0 6px #000;
  color: #d8d8d8a2;
}
