.tw-container { 
  position:relative; 
  width: 100%; 
  height: 100%; 
  color: #9d9c9cc4; 
  background-color: rgba(49, 47, 47, 0.868); 
  padding: 0.5rem;
  box-sizing: border-box;

  transition: transform 0.9s ease-in-out;
  transform: translateY(0%);
  
}
.tw-container.hide {
  transform: translateY(100%);
}
.tw-overview {  
  position:relative;  
  padding: .5rem;
  box-sizing: border-box;
}


.tw-window { 
  display: flex; 
  flex-direction: row; 
  align-items: center;
  align-content: justify;
  justify-content: space-between;
  position: relative; 
  height: 3vh; 
  gap: 5px;
  width: 100%; 
  box-sizing: border-box;
}

/* Highlight overlay: tıklamayı engellemesin, slider'ın altında kalsın */
.tw-window-fill {
  position: absolute;
  background: rgba(186, 16, 215, 0); 
  border-top: #38d526 solid 4px;
  border-left: #38d526 solid 4px;
  border-right: #38d526 solid 4px;
  border-top-left-radius: 2px solid rgba(255, 80, 226, 0.846);
  border-top-right-radius: 2px solid rgba(238, 255, 80, 0.846);
  pointer-events: none;   /* <-- kritik */
  z-index: 1;             /* slider'dan küçük */
  height: 10px;
  margin-top: -25px;
}

.tw-year-label {
  position: absolute;
  margin-top: -25px;
  text-align: center;
  width: 2%;
  padding: 0.7rem;
  font-size: .9rem;
  color: #eff3f2;
  font-weight: bold;
  user-select: none;
  z-index: 200;   
  /* background-color: rosybrown; */

}
/* Ray (arka çizgi) */
.rc-slider-rail {
  background-color: #2a2a2a;
  height: 6px;
}

/* Seçili alan */
.rc-slider-track {
  background-color: #f7191988;
  height: 6px;
}

/* Handle (thumb) */
.rc-slider-handle {
  width: 14px;
  height: 14px;
  border: 2px solid #5062ff;
  background-color: #767667;
  box-shadow: 0 0 0 2px #111;
  opacity: 1;
  border-radius:0px;
}

/* Handle hover efekti */
.rc-slider-handle:hover {
  border-color: #fff;
}

/* Tick noktaları */
.rc-slider-dot {
  display: none; /* varsa kapat */
}

/* Slider hep üstte olsun */
.rc-slider { position: relative; z-index: 2; }



