.tw-container { 
  position:relative; 

  width: 100%; 
  height:100%; 

  padding: .5rem;
  gap: .5rem;

  display: flex;
  flex-direction: row;
  box-sizing: border-box;

  border: none;
  background-color: rgba(123, 123, 123, 0.678);
 

  z-index: 1000;
  
}

.tw-window { 
  position: relative; 

  width: 93%;
  height: 100%;

  display: flex; 
  flex-direction: row; 
  box-sizing: border-box;

  align-items: center;
  align-content: justify;
  justify-content: space-between;

  border: none;
  background-color: transparent;
;
  
  
}
.tw-period{ 
  position: relative; 

  width: 7%;
  height: 100%;

  display: flex; 
  box-sizing: border-box;

  align-items: center;
  align-content: justify;
  justify-content: center;

  border: none;
  background-color: #56b45400;
  
  
}

.tw-year-label {
  position: absolute;

  width: 2%;
  height: auto;

  margin-top: -30px;
  text-align: center;
  
  padding: 0rem;
  font-size: .9rem;
  font-family: 'Inter', sans-serif;
  color: #4d4c4c;
  
  font-weight: bold;
  user-select: none;
  z-index: 100;   
  

}
/* Ray (arka çizgi) */
.rc-slider-rail {
  background-color: #eeeded;
  height: 6px;
}

/* Seçili alan */
.rc-slider-track {
  background-color: #f7191988;
  height: 6px;
}

/* Handle (thumb) */
.rc-slider-handle {
  width: 14px;
  height: 14px;
  border: 2px solid #50ff59;
  background-color: #767667;
  box-shadow: 0 0 0 2px #111;
  
  opacity: 1;
  border-radius:0px;
}

/* Handle hover efekti */
.rc-slider-handle:hover {
  border-color: #fff;
}

/* Tick noktaları */
.rc-slider-dot {
  display: none; /* varsa kapat */
}

/* Slider hep üstte olsun */
.rc-slider { position: relative; z-index: 2; }



