.component-container {
  position: relative;

  width: 100%;
  height: 100%;

  padding-left: .5rem;
  padding-right: .5rem;
  gap: 0rem;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  
  background-color: #393940d7;
  border-bottom: #ababa7d6 solid 1px;

  /* z-index: 3000; */

  
}
 

.zoom-container {
  position: relative;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  /* justify-content: flex-end; */

  border: none;
  
  z-index: 1000;

  

}

.zoom-container.hide {
  display: none;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
}

.movements-wrapper{  
  position: relative; 

  width: 93%; 
  height: 100%; 

  padding: 0rem;
  gap: 0rem; 

  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;  
  
  white-space: nowrap;
  user-select:none;

  z-index: 1000; 
}

.milestone {
  position: absolute;

  height: 100%; 

  border-left: #ebbe09 solid 6px;
  color: #d2d7de00;

  

  cursor: pointer;
}

.milestone:hover {
  color: #d2d7de;
  font-weight: bold;
}

.zoom-slider-wrapper {
  position: relative;

  width: 7%;
  height: 100%;

  /* padding: 0.3rem; */
  
  display: flex;
  flex-direction: row;
  box-sizing: border-box;

  align-items: center;
  justify-content: center;

  /* background-color: #9696964a; */
  
}

.zoom-label {
  position: relative;

  display: flex;

  color: #323232;
  font-size: 1.1rem;
  font-weight: bold;

  margin: 0rem 0.3rem;

}

.zoom-slider-wrapper input[type="range"] {
  position: relative;

  width: 100%;
  height: 2px;
  
  background-color: #3b3b3bc5;
  border-radius: 0px;
  border: 1px solid rgba(214, 213, 214, 0.731);
  
  appearance: none;
  cursor: pointer;

  transform: scaleX(-1);
}

.zoom-slider-wrapper input[type="range"]::-webkit-slider-thumb {
  position: relative;

  width: 1vh;
  height: 1.5vh;

  background: #282727e0;
  border-radius: 0px;
  border: 1px solid rgba(222, 218, 218, 1);

  appearance: none;

  transition: transform 0.2s ease;
}

.zoom-slider-wrapper input[type="range"]::-webkit-slider-thumb:hover {
  transform: scale(1.1);
}


.time-container {
  position: relative;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  box-sizing: border-box;

  background-color: #393940d7;
  

 
}

.time-slider {
  width: 93%;
  height: 100%;

  padding: 0.2rem;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  
  border-bottom: #ababa7d6 solid 1px;

  
  
}

.slider-wrapper {
  position: relative;

  width: 100%;
  height:100%;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;

  background-color: rgba(41, 158, 190, 0);

  z-index: 3000;
}




.time-slider input[type="range"] {
  width: 100%;
  height:1vh;


  background: linear-gradient(to right, #2c517000, #46b45c00);
  border-radius: 0px;
  border: 1px solid rgba(214, 213, 214, 0);
  
  appearance: none;
  cursor:col-resize;

  
}

.time-slider input[type="range"]::-webkit-slider-thumb {
  
  /* bottom: 1vh; */

  width: 0.5vh;
  height: 2.5vh;

  background-color: #fc190de0;
  /* box-shadow: 0 0 3px rgba(229, 229, 231, 0.852); */
  border-radius: 0px;
  border: 1px solid rgba(222, 218, 218, 0.346);

  appearance: none;
  transition: transform 0.2s ease;
}

.time-slider input[type="range"]::-webkit-slider-thumb:hover {
  transform: scale(1.2);
  background: #7777779d; 
  border: 2px solid #e56220;
}

.time-slider-info{
  width: 100%;
  height: 100%;

  padding: 0rem;

  box-sizing: border-box;

  font-size: 0.8rem;
  color: #999;
}

.year-labels {

  width: 100%;

  display: flex;
  box-sizing: border-box;

  background-color: #2915bc00;
  border-bottom: #ababa7d6 solid 1px;
  
  font-size: 0.8rem;
  color: #e4e4e4;

  cursor: grab;

  z-index: 3000;
}

.year-label {
  white-space: nowrap;
  user-select:none;
}

.year-label.active {
  color: #d1be15;
  font-weight: bold;
}

.label-group {

  width: 7%;
  height: 100%; 

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;

  padding: 0.5rem;
  

  background-color: #1a4ebd00;
  border-left: #ababa7d6 solid 1px;

  z-index: 1000;
}


.label-group:first-child {

  font-size: 0.8rem;
  color: #999;

  padding: 0.5rem;
  align-self: center;


  background-color: #1a4ebd00;
  border-left: #ababa7d6 solid 1px;

  z-index: 1000;
}

.play-button{

  width: 100%;
  height: 100%;

  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;  
  
  padding: 0rem;
  font-size: 0.8rem;
  
  border-radius: 0px;
  
  background-color: #4a4949;

  font-family: 'Inter', sans-serif;
  
  z-index: 1000;
}


.checkbox {
  position: relative;

  width: 100%;
  height: 2rem;  
  
  background-color: #54535330;
  border: #b04f4f;

}

.hist-bar-container{
  width: 96%;
  height: 100%;

  padding: 0.3rem;

  box-sizing: border-box;

  background-color: rgb(55, 55, 55);
  font-family: 'Inter', sans-serif;

  z-index: 500;
}

.histogram {
  position: relative;

  width: 100%;
  height: 100%;  

  display: block;

  background: linear-gradient(to top, rgba(0,0,0,0.04), rgba(0,0,0,0.0));
  background-color: #c1c0c000;
  border-radius: 0px;
  overflow: hidden;
}

.hist-bar {
  position: absolute;
  bottom: 0;
  
  background: currentColor; 

  opacity: 0.35;
  transition: opacity 120ms ease, transform 120ms ease;
  
  border: currentColor;
  border-left: 2px solid currentColor;
  border-top: 2px solid currentColor;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;

  cursor: pointer;
  
}

.hist-bar.active {
  opacity: 0.7;
}

.hist-bar:hover {
  opacity: 1;
  transform: translateY(-1px);
}


.milestone-wrapper {
  position: relative;
  width: 100%;
  
}

.milestone-markers.bottom {
  position: relative;
  height: 1px;
}

.timeline-track{
  position: absolute;
  height: 17vh;
  width: 100%;
  
  border-radius: 3px;
  overflow: hidden;
  
  background:
    repeating-linear-gradient(
      to right,
      rgba(255,255,255,0.12) 0px,
      rgba(255,255,255,0.12) 1px,
      transparent 1px,
      transparent 90px
    ),
    linear-gradient(to bottom,
      rgba(250, 8, 8, 0.06) 0% 33%,
      rgba(0,0,0,0.00) 33% 66%,
      rgba(255,255,255,0.04) 66% 100%),
    #5a5a5a;
  border: 1px solid rgba(236, 14, 14, 0.35);

  z-index: 2000;
}

