

.location-details-container {

  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  width: 100%;
  height: 100%;
  padding: 0.75rem;

  background-color: rgb(48, 49, 48);
  border-top: 1px solid #444;
  
  font-family: 'Inter', sans-serif;
  color: #ffffff;
  
  
}

.location-details-container img.portrait {
  box-sizing: border-box;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 1rem;
  display: block;
  background-color: #ffffff;
}

.location-details-container img.logo {
  box-sizing: border-box;
  width: 30%;
  height: auto; 
  border-radius: 8px;
  margin-bottom: 1rem;
  display: block;
  background-color: #ffffff;
}

