

.person-id-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;

  width: 100%;
  
  gap: 1rem;
  padding: 0.5rem;

  border-top: 1px solid #676767;
  background-color: rgba(104, 104, 103, 0.612);
  
}

.person-portrait {
  flex: 0 0 35%;
  max-width: 10vw;
 
}

.person-id-card img.portrait {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  background-color: #ffffff;
  /* object-fit: cover; */
}

.image-fallback {
  font-size: 0.85rem;
  opacity: 0.9;
}

.person-data {
  flex: 1;
  min-width: 0;
  box-sizing: border-box;
  background-color: transparent;
}

.person-data p {
  font-size: 0.85rem;
  line-height: 1;
  margin: 0 0 0.75rem 0;
  word-break: break-word;
}

.person-data img.signature-image {
  display: block;
  width: 100%;
  max-width: 120px;
  height: auto;
  margin-top: 1rem;
  /* filter: brightness(0) invert(1); */
}



.tab-buttons {

  display: flex;
  flex-direction: row;

  width: 100%;
  height: auto;
  box-sizing: border-box;
  background-color: #6d6d6d;

  font-size: 0.9dvb;
}

.tab-buttons button {
  margin-right: 0rem;
  padding: 0rem 0rem;
  font-weight: bold;
  border-radius: 1px;
  background-color: rgba(135, 136, 135, 0.869);;

  
  cursor: pointer;
}

.tab-buttons button.active {
  background-color: rgba(182, 72, 72, 0.869);
  color: white;
  border-bottom: 1px solid #ccc;
  /* border-color: #222; */
}

.cv_content {
  position: absolute;
  top: 3vw;
  left: -80vw;
  background-color: rgba(107, 107, 107, 0.704);
  padding: 8px 10px;
  border-radius: 8px;
  font-size: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
