html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* app.css */

/* Genel konteyner */
.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;

}

/* Açıklama kutusu */
.header-description {
  position: absolute;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 60vw;
  background-color: rgba(91, 90, 90, 0);
  display: flex;
  justify-content: center; /* içeriği ortalar */
  
  border-radius: 8px;
  text-align: center;
  font-family: Tahoma, serif;
  z-index: 110;
}

.header-description p {
  font-size: 1rem;
  color: rgb(255, 255, 255);
  margin: 0;
}


.app-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.main-content {
  display: flex;
  background-color: #ffffff;
  flex: 1; 
}

.scene {
  width: 100%;
  height: 100%;
  flex: 1;
  /* position: relative; */
  background-color: #ffffff;
  box-sizing: border-box;
  z-index: 10;
}



.left-panel {
  position: absolute;
  top: 0;
  left:-24vw;

  display: flex;
  flex-direction: row;

  width: 24vw;
  height: 100vh;

  background-color: transparent;
  box-shadow: 7px 7px 15px rgba(49, 49, 49, 0.51);
  padding: 0;
  box-sizing: border-box;
  border: 1px solid #000000c8;
  

  z-index: 200;

  transition: left 0.45s cubic-bezier(0.4, 0, 0.2, 1);

}

.left-panel.open {
  left: 0;
}

.right-panel {
  position: absolute;
  top: 5vh;
  right: 0;

  display: flex;
  flex-direction: row;
  width: 8vw;
  height: auto;
  background-color: rgba(212, 12, 12, 0);
  padding: 0;
  box-sizing: border-box;
  
  z-index: 1500;

  transition: transform 0.9s ease-in-out;
  transform: translateX(0%);
  
}

.right-panel.hide {
  transform: translateX(100%);
}

.top-panel {
  position: absolute;
  top: 0;
  left: 24vw;

  display: flex;
  flex-direction: row;
  width: 76vw;
  /* height: 16vh; */
  background-color: #d8d8d8cf;
  box-shadow: 0 3px 5px rgba(93, 93, 93, 0.538);
  
  padding: 0;
  box-sizing: border-box;
  border: 1px solid #74747400;
  z-index: 150;

  transition: transform 0.9s ease-in-out, width 0.2s ease-in-out;
  transform: translateY(-100%);
  
}

.top-panel.open {
  transform: translateY(0%);
}
.top-panel.openAndStretched {
  width: 40vw;
  left: 60vw;
  transform: translateY(0%);
}

.top-filter_description-bar {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
 

  width: 70vw;
  height: 20vh;
  gap:3rem;
  background-color: #3a3ae800;
  padding: 1rem; 
  box-sizing: border-box;
  border: 4px solid #74747400;
  z-index: 50;
  transition: transform 0.9s ease-in-out;
  transform: translateY(0%);
}

.top-filter_description-bar.close {
  transform: translateY(-100%);
}



.bottom-panel {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  height: 22vh;

  background-color: rgba(255, 255, 255, 0.0);
  box-sizing: border-box;
  z-index: 100;

  transition:
    width 0.45s cubic-bezier(0.4, 0, 0.2, 1),
    left 0.45s cubic-bezier(0.4, 0, 0.2, 1);
}

.bottom-panel.squeezed {
  left: 24vw;
}



.top-event-bar {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center; 
  justify-self: center; 

  width: 100vw;
  height: 70vh;
  gap:1rem;
  background-color: #f1f6ed;
  padding: 1rem; 
  box-sizing: border-box;
  border: 4px solid #74747400;
  z-index: 1500;
  transition: transform 0.9s ease-in-out;
  transform: translateY(-100%);
}

.top-event-bar.open {
  transform: translateY(0%);
}



.info-box{
  position: absolute;
  align-content: start;
  width: 18vw;
  height: 100%;
  padding: 0rem;
  
  box-sizing: border-box;
  font-size: 1rem;
  color: #d91010;

}